.game_field{
    width: 100%;
    height:100%;
    margin: 0 auto;
    display: flex;
}
.body_games{
    text-align: center;
    width: 100%;
    height: 80%;
    border:6px solid rgb(40, 105, 41);
    background-color: rgb(213, 255, 213);
    border-radius: 15px;
}
.game{
    width: 67%;
}
.game_body{
    width: 88%;
    margin: 0px auto;
}
.menue_game{
    width: 100%;
    height: 20%;
    border: 2px solid rgb(63, 107, 63);
    border-radius: 4px;
    background-color: rgb(240, 255, 240);
    overflow-y: scroll;
}
.menue_game button{
    background-color: rgb(213, 253, 208);
    padding: 4px 4px;
    border: 2px solid rgb(63, 107, 63);
    border-radius: 4px;
}
.menue_game button:hover{
    background-color: rgb(182, 255, 172);
    padding: 4px 4px;
    border: 2px solid rgb(63, 107, 63);
    border-radius: 4px;
}
.card_field{
    border: 2px solid rgb(141, 141, 99);
    border-radius: 4px;
    width: 33%;
    height: 100vh;
    overflow-y: scroll; 

}
.card_{
    padding: 0px 6px;
    border-radius: 6px;
    font-size:16px;
    color:rgb(0, 0, 0);
    border:2px solid rgb(141, 141, 99) ;
    background-color: beige;
    width: 100%;
}
.card_ code{
    color:rgb(73, 73, 54);
    background-color: rgb(255, 255, 241);
    font-size:17px;
}
.card_ span{
    color:rgb(165, 221, 87);
}




.card_field_h1 {
    border: 2px solid rgb(141, 141, 99);
    background-color: rgb(255, 255, 241);
    color: rgb(141, 141, 99);
    font-size: 22px;
    text-align: center;
    font-weight: 800;
}

@keyframes slide-in {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
.back_button{
  position: absolute; /* 絶対配置 */
  bottom: 20px;
  left: 20px;
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border-radius: 50%; /* 丸い形にする */
  text-decoration: none;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px; /* 幅と高さを設定して正円に */
  height: 40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
  z-index: 10; /* 他の要素の上に表示 */
}