.title{
    font-size: 64px;
    text-align: center;
    margin-bottom: 100px;
}

.operation{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    border-radius: 7px;
    margin: 10px 20px;
    width: 300px;
    height: 100px;
    font-size: 32px;
    background-color: #c7e4fd;
    color: #242424; /* 全体の文字色: ダークグレー */
}

.card:hover{
    background-color: #4169E1;
}

.card-hover-text {
    width: 800px;
    visibility: hidden; /* 初期状態では非表示 */
    opacity: 0; /* 初期状態では透明 */
    transition: opacity 0.3s ease, visibility 0.3s ease; /* スムーズに表示 */
    color: #333;
    font-size: 32px;
    text-align: center;
}

.card:hover + .card-hover-text {
    visibility: visible;
    opacity: 1;
}

.content{
    display: flex;
    justify-content: center;
}
